.catalog-nav {
  padding: 16px 0;
  background-color: var(--catalog-nav-color);

  &__container {
    @extend .flex-wrap;
  }

  &__list {
    @extend .flex-wrap;
    align-items: center;
  }

  &__list-item {
    margin-right: 70px;

    a {
      @extend .flex-centered-content;

      font-family: var(--accent-font-family);
      font-weight: 400;
      font-size: 20px;
      line-height: 24px;

      text-transform: capitalize;

      color: var(--catalog-nav-link-color);
      transition: color var(--main-transition);

      @include m-b-laptop-up {
        &:hover,
        &:focus {
          color: var(--catalog-nav-link-focus-color);
        }
      }
    }
  }

  &__search {
    margin-left: auto;
  }
}
