.filter-head-btn {
  @extend .flex-wrap;
  align-items: center;
  justify-content: space-between;


  span {
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    transition: color var(--main-transition);
  }

  svg {
    fill: none;
    stroke: var(--main-color);
    stroke-width: 2px;

    transition: transform var(--main-transition), stroke var(--main-transition);
  }

  /* up/down desktop-lg(1920),desktop(1440),laptop(1140),tablet-lg(960),tablet(768),mobile-lg(534)*/
  @include m-b-laptop-up {
    &:hover,
    &:focus {
      span {
        color: var(--blue-1);
      }

      svg {
        stroke: var(--blue-1);
      }
    }
  }
}
