.main-btn-link {
  @extend .flex-centered-content;

  font-family: var(--accent-font-family);
  font-weight: 700;
  width: fit-content;
  height: fit-content;
  min-height: 40px;
  min-width: 40px;
  line-height: 1;

  padding: 18px 10px;
  border-radius: 6px;

  color: var(--main-btn-link-color);
  background: linear-gradient(265.07deg, #00B68A 4.96%, #35E6BB 112.8%), linear-gradient(265.07deg, #1862FF 4.96%, #00D2FF 112.8%);
}

.main-btn {
  @extend .button-default;
  @extend .main-btn-link;

  &--blue {
    background: linear-gradient(265.07deg, #1862FF 4.96%, #00D2FF 112.8%);
  }

  &--outlined {
    background: transparent;
    border: 1px solid var(--gray-color-2);
    color: var(--gray-color-2);
  }
}
