.main-nav {
  @extend .flex-wrap;
  align-items: center;
  flex-grow: 1;

  &__logo {
    svg {
      fill: var(--blue-1);
    }

    margin-right: 50px;
  }

  .main-nav-list {
    @extend .flex-wrap;
    align-items: center;
    flex-grow: 1;

    padding: 0 20px;

    &__item {
      margin-right: 32px;

      a {
        font-size: 18px;
        line-height: 21px;
      }
    }
  }
}
