.slider-section {
  padding: 20px 0;
  margin-bottom: 40px;

  &__title {
    font-family: var(--accent-font-family);
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    margin-bottom: 20px;

    color: var(--main-color);

    &--smaller {
      font-family: var(--base-font-family);
      font-weight: 600;
      font-size: 18px;
      line-height: 27px;
      margin-bottom: 0;

      letter-spacing: 0.2em;
      text-transform: uppercase;
    }
  }

  &__desc {

    &--bigger {
      @extend .slider-section__title;
      margin-bottom: 0;
    }
  }

}
