ul.catalog-nav-list
  li.catalog-nav-list__item
    a(href='catalog.html') Новинки
  li.catalog-nav-list__item
    a(href='catalog.html') Товары для малышей
  li.catalog-nav-list__item
    a(href='catalog.html') Мальчики
  li.catalog-nav-list__item
    a(href='catalog.html') Девочки
  li.catalog-nav-list__item
    a(href='catalog.html') Обувь
  li.catalog-nav-list__item
    a(href='catalog.html') Игрушки
