footer.footer
  .container.footer__container
    .footer__info
      a(href="index.html").footer-logo
        svg(width="129" height="32")
          use(xlink:href="./assets/sprite.svg#icon-logo-mock")

      include ./company-details

    .footer__nav-container
      nav.footer__nav
        include ./minor-nav-list

      nav.footer__catalog-nav
        include ./catalog-nav-list

    .footer__contact
      .footer__contact-field
        span Телефоны для связи:

        a(href="tel:88121234567") 8 (812) 123-45-67
        a(href="tel:88121234567") 8 (812) 123-45-67

      .footer__contact-field
        span E-mail:

        a(href="mailto:yandex@yandex.ru") yandex@yandex.ru

      .footer__contact-field
        span Мы в соцсетях:

        include ./social

  include ./developer
