ul.main-nav-list
  li.main-nav-list__item
    a(href='about.html') О нас
  li.main-nav-list__item
    a(href='contacts.html') Контакты
  li.main-nav-list__item
    a(href='delivery.html') Доставка
  li.main-nav-list__item
    a(href='conditions.html') Условия оплаты и возврата
  li.main-nav-list__item
    a(href='confidential.html') Политика конфиденциальности
