ul.minor-nav-list
  li.minor-nav-list__item
    a(href='about.html') О нас
  li.minor-nav-list__item
    a(href='contacts.html') Контакты
  li.minor-nav-list__item
    a(href='confidential.html') Политика конфиденциальности
  li.minor-nav-list__item
    a(href='sertificates.html') Сертификаты на продукцию
  li.minor-nav-list__item
    a(href='conditions.html') Условия оплаты и возврата
  li.minor-nav-list__item
    a(href='public.html') Публичная оферта
  li.minor-nav-list__item
    a(href='personal.html') Обработка и защита персональных данных
