.pagination
  a(href="#").pagination__btn.pagination__btn--prev.pagination__btn--disabled
    svg(width="6" height="10")
      use(xlink:href="./assets/sprite.svg#icon-pagination-arrow-left")

  a(href="#").pagination__btn 1

  a(href="#").pagination__btn.pagination__btn--ellypsis ...

  a(href="#").pagination__btn 20
  a(href="#").pagination__btn 21
  a(href="#").pagination__btn 22
  a(href="#").pagination__btn 23
  a(href="#").pagination__btn.pagination__btn--active 24

  a(href="#").pagination__btn.pagination__btn--ellypsis ...

  a(href="#").pagination__btn 256

  a(href="#").pagination__btn.pagination__btn--next
    svg(width="6" height="10")
      use(xlink:href="./assets/sprite.svg#icon-pagination-arrow-right")
