.search
  form(action="#")
    input(type="text" placeholder="Поиск")
    button(type="submit" aria-label="Поиск")
      svg(width="24" height="24")
        use(xlink:href="./assets/sprite.svg#icon-search")

