.social
  a(href="#" aria-label="facebook" rel="noopener norefferer nofollow")
    svg(width="12" height="24")
      use(xlink:href="./assets/sprite.svg#icon-fb")

  a(href="#" aria-label="instagram" rel="noopener norefferer nofollow")
    svg(width="24" height="24")
      use(xlink:href="./assets/sprite.svg#icon-insta")

  a(href="#" aria-label="telegram" rel="noopener norefferer nofollow")
    svg(width="24" height="24")
      use(xlink:href="./assets/sprite.svg#icon-tg")

  a(href="#" aria-label="whatsapp" rel="noopener norefferer nofollow")
    svg(width="24" height="24")
      use(xlink:href="./assets/sprite.svg#icon-whatsapp")
