.user
  a(href="cabinet.html")
    svg(width="24" height="24")
      use(xlink:href="./assets/sprite.svg#icon-user")

    span Личный кабинет

  a(href="cabinet.html")
    svg(width="24" height="24")
      use(xlink:href="./assets/sprite.svg#icon-heart")

    span Избранное

  a(href="cabinet.html")
    svg(width="24" height="24")
      use(xlink:href="./assets/sprite.svg#icon-cart")

    span Корзина
