extends layouts/main-layout.pug

block variables
  -
    const title = ""
    const desc = ""
    const keywords = ""

block content
  .index
    include ./sections/index-page/intro
    include ./sections/index-page/category
    include ./sections/index-page/popular
    include ./sections/index-page/features
    include ./sections/index-page/history
    include ./sections/index-page/register-offer
    include ./sections/index-page/review

block modals
  //include ./modals/...
