-
  const navListContent = [
    {
      url: 'about.html',
      title: 'О нас'
    },
    {
      url: 'contacts.html',
      title: 'Контакты'
    },
    {
      url: 'delivery.html',
      title: 'Доставка'
    },
    {
      url: 'conditions.html',
      title: 'Условия оплаты и возврата'
    },
    {
      url: 'confidential.html',
      title: 'Политика конфиденциальности'
    },
  ]
