-
  const catalogNavContent = [
    {
      url: 'catalog.html',
      title: 'Новинки'
    },
    {
      url: 'catalog.html',
      title: 'Товары для малышей'
    },
    {
      url: 'catalog.html',
      title: 'Мальчики'
    },
    {
      url: 'catalog.html',
      title: 'Девочки'
    },
    {
      url: 'catalog.html',
      title: 'Обувь'
    },
    {
      url: 'catalog.html',
      title: 'Игрушки'
    },
  ]
