-
  const reviewListContent = [
    {
      avatar: 'user-avatar',
      userName: 'Константин',
      date: '17 августа 2022, 20:50',
      reviewText: 'Хорошие вещи за хорошие деньги! Доставляют в тот день и время, когда удобно покупателю! Все четко: позвонил оператор, обсудили заказ. Позвонил курьер — договорились о доставке.В целом магазин нравится ...',
      rate: 4.2
    },
    {
      avatar: 'user-avatar',
      userName: 'Ольга',
      date: '17 августа 2022, 20:50',
      reviewText: 'Хорошие вещи за хорошие деньги! Доставляют в тот день и время, когда удобно покупателю! Все четко: позвонил оператор, обсудили заказ. Позвонил курьер — договорились о доставке.В целом магазин нравится ...',
      rate: 4.2
    },
    {
      avatar: 'user-avatar',
      userName: 'Анастасия Петровна',
      date: '17 августа 2022, 20:50',
      reviewText: 'Хорошие вещи за хорошие деньги! Хорошие вещи за хорошие деньги! Хорошие вещи за хорошие деньги! Хорошие вещи за хорошие деньги! Хорошие вещи за хорошие деньги! Доставляют в тот день и время, когда удобно покупателю! Все четко: позвонил оператор, обсудили заказ. Позвонил курьер — договорились о доставке.В целом магазин нравится ...',
      rate: 4.2
    },
    {
      avatar: 'user-avatar',
      userName: 'Игорь',
      date: '17 августа 2022, 20:50',
      reviewText: 'Хорошие вещи за хорошие деньги! Доставляют в тот день и время, когда удобно покупателю! Все четко: позвонил оператор, обсудили заказ. Позвонил курьер — договорились о доставке.В целом магазин нравится ...',
      rate: 4.2
    },
    {
      avatar: 'user-avatar',
      userName: 'Алексей Иванович',
      date: '17 августа 2022, 20:50',
      reviewText: 'Хорошие вещи за хорошие деньги! Доставляют в тот день и время, когда удобно покупателю! Все четко: позвонил оператор, обсудили заказ. Позвонил курьер — договорились о доставке.В целом магазин нравится ...',
      rate: 4.2
    },
    {
      avatar: 'user-avatar',
      userName: 'Константин',
      date: '17 августа 2022, 20:50',
      reviewText: 'Хорошие вещи за хорошие деньги! Доставляют в тот день и время, когда удобно покупателю! Все четко: позвонил оператор, обсудили заказ. Позвонил курьер — договорились о доставке.В целом магазин нравится ...',
      rate: 4.2
    },
    {
      avatar: 'user-avatar',
      userName: 'Ольга',
      date: '17 августа 2022, 20:50',
      reviewText: 'Хорошие вещи за хорошие деньги! Доставляют в тот день и время, когда удобно покупателю! Все четко: позвонил оператор, обсудили заказ. Позвонил курьер — договорились о доставке.В целом магазин нравится ...',
      rate: 4.2
    },
    {
      avatar: 'user-avatar',
      userName: 'Анастасия Петровна',
      date: '17 августа 2022, 20:50',
      reviewText: 'Хорошие вещи за хорошие деньги! Доставляют в тот день и время, когда удобно покупателю! Все четко: позвонил оператор, обсудили заказ. Позвонил курьер — договорились о доставке.В целом магазин нравится ...',
      rate: 4.2
    },
    {
      avatar: 'user-avatar',
      userName: 'Игорь',
      date: '17 августа 2022, 20:50',
      reviewText: 'Хорошие вещи за хорошие деньги! Доставляют в тот день и время, когда удобно покупателю! Все четко: позвонил оператор, обсудили заказ. Позвонил курьер — договорились о доставке.В целом магазин нравится ...',
      rate: 4.2
    },
    {
      avatar: 'user-avatar',
      userName: 'Алексей Иванович',
      date: '17 августа 2022, 20:50',
      reviewText: 'Хорошие вещи за хорошие деньги! Доставляют в тот день и время, когда удобно покупателю! Все четко: позвонил оператор, обсудили заказ. Позвонил курьер — договорились о доставке.В целом магазин нравится ...',
      rate: 4.2
    },
  ]
