include ../../mixins/main-btn

.register-offer
  .container
    .register-offer__wrapper
      h2 Зарегистрируйтесь на сайте и получите <br/><span>скидку 10%</span> на первую покупку
      +main-btn('button', 'Зарегистрироваться', 'register.html')
