section.catalog
  .container.catalog__container
    .catalog__sidebar
      h1 Каталог

      include ../../components/catalog-filter

    .catalog__main
      .catalog__main-header
        p sorting

      .catalog__main-body
        include ../../components/catalog-list

      .catalog__main-footer
        include ../../components/pagination
