.catalog {
  &__container {
    display: grid;
    grid-template-columns: 280px auto;
    grid-column-gap: 40px;
    padding-bottom: 120px;
  }

  &__sidebar {
    @extend .outline;

    h1 {
      font-family: var(--accent-font-family);
      font-weight: 700;
      font-size: 40px;
      line-height: 48px;
      margin-bottom: 30px;
    }
  }

  &__main {
    @extend .outline;

    &-header {

    }
  }
}
