-
  const productListContent = [
    {
      badges: [{type: 'sale', title: 'Sale'}, {type: 'new', title: 'New'}],
      img: 'product-card-image',
      title: 'Комбенезон жёлтый утеплённый осенний',
      price: '1 580',
      chars: [
        {title: '', desc: ''},
        {title: '', desc: ''},
      ]
    },

    {
      badges: [{type: 'new', title: 'New'}],
      img: 'product-card-image',
      title: 'Комбенезон красный утеплённый осенний',
      oldprice: '14 580',
      price: '11 580',
      chars: [
        {title: '', desc: ''},
        {title: '', desc: ''},
      ]
    },

    {
      badges: [],
      img: 'product-card-image',
      title: 'Комбенезон фиолетовый утеплённый осенний',
      price: '11 580',
      chars: [
        {title: '', desc: ''},
        {title: '', desc: ''},
      ]
    },

    {
      badges: [ {type: 'sale', title: 'Sale'}],
      img: 'product-card-image',
      title: 'Комбенезон синий утеплённый зимний',
      price: '111 580',
      chars: [
        {title: '', desc: ''},
        {title: '', desc: ''},
      ]
    },

    {
      badges: [{type: 'sale', title: 'Sale'}, {type: 'new', title: 'New'}],
      img: 'product-card-image',
      title: 'Комбенезон жёлтый утеплённый осенний',
      price: '1 580',
      chars: [
        {title: '', desc: ''},
        {title: '', desc: ''},
      ]
    },

    {
      badges: [{type: 'new', title: 'New'}],
      img: 'product-card-image',
      title: 'Комбенезон красный утеплённый осенний',
      price: '11 580',
      chars: [
        {title: '', desc: ''},
        {title: '', desc: ''},
      ]
    },

    {
      badges: [],
      img: 'product-card-image',
      title: 'Комбенезон фиолетовый утеплённый осенний',
      price: '11 580',
      chars: [
        {title: '', desc: ''},
        {title: '', desc: ''},
      ]
    },

    {
      badges: [ {type: 'sale', title: 'Sale'}],
      img: 'product-card-image',
      title: 'Комбенезон синий утеплённый зимний',
      price: '111 580',
      chars: [
        {title: '', desc: ''},
        {title: '', desc: ''},
      ]
    },
  ]
