-
  const categoryListContent = [
    {
      title: 'Распродажа',
      img: 'category-sale',
      url: 'catalog.html',
      imgWidth: '500px',
      imgHeight: '720px'
    },
    {
      title: 'Девочки',
      img: 'category-girls',
      url: 'catalog.html',
      imgWidth: '600px',
      imgHeight: '350px'
    },
    {
      title: 'Мальчики',
      img: 'category-boys',
      url: 'catalog.html',
      imgWidth: '400px',
      imgHeight: '350px'
    },
    {
      title: 'Игрушки',
      img: 'category-toys',
      url: 'catalog.html',
      imgWidth: '400px',
      imgHeight: '350px'
    },
    {
      title: 'Малыши',
      img: 'category-babies',
      url: 'catalog.html',
      imgWidth: '600px',
      imgHeight: '350px'
    },
  ]
