-
  const featuresListContent = [
    {
      icon: 'shirt',
      text: 'Самая модная <br/> детская одежда'
    },
    {
      icon: 'stock',
      text: 'Большой ассортимент — <br/>более 15 000 товаров'
    },
    {
      icon: 'truck',
      text: 'Быстрая и бесплатная <br/>доставка'
    },
    {
      icon: 'shield',
      text: 'Честные гарантии <br/>возврата'
    },
    {
      icon: 'billfold',
      text: 'Удобная оплата, отправим <br/>без предоплат'
    },
    {
      icon: 'profi',
      text: 'Команда <br/>профессионалов'
    },
  ]
