-
  const heroSliderContent = [
      {
          title: 'Новая коллекция',
          url: 'catalog.html',
          btnText: 'Смотреть',
          img: 'hero-slide-1'
      },

      {
          title: 'Распродажа до <span>-40%</span>',
          url: 'catalog.html',
          btnText: 'Смотреть',
          img: 'hero-slide-1'
      },
  ]
