-
  const heroSliderContent = [
      {
          title: 'Новая коллекция',
          url: 'catalog.html',
          btnText: 'Смотреть',
          img: './assets/img/intro_slide1.png'
      },

      {
          title: 'Распродажа до <span>-40%</span>',
          url: 'catalog.html',
          btnText: 'Смотреть',
          img: './assets/img/intro_slide2.png'
      },

      {
          title: '<span>Суперцены</span> на игрушки',
          url: 'catalog.html',
          btnText: 'Смотреть',
          img: './assets/img/intro_slide3.png'
      },
  ]
